
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

.custom_carousel {
    height: calc(100vh - 95px);
    overflow: hidden;
    position: relative;

  }
  .custom_btn {
    background-color: #000000;
    color: #fff;
    border: 4px solid transparent;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    width: auto;
    margin: 0;
    font-family: Poppins, sans-serif;
    font-size: 12px;
    line-height: 26px;
    font-weight: 500;
    letter-spacing: 0.2em;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 0;
    outline: 0;
    transition: color 0.2s ease-out, background-color 0.2s ease-out,
      border-color 0.2s ease-out, -webkit-box-shadow 0.35s ease-out;
    padding: 11px 46px 10px;
    white-space: nowrap;
  }
  
  .custom_btn::before,
  .custom_btn::after {
    content: "";
    display: block;
    position: absolute;
    background-color: transparent;
    transition: 0.5s cubic-bezier(0.65, 0.05, 0.36, 1);
    left: 0px;
    width: 100%;
    transform: scale(0.9);
    height: 100%;
    top: 0;
    opacity: 0;
  }
  
  .custom_btn::before {
    border-top: 1px solid #939393;
    border-bottom: 1px solid #939393;
    bottom: 0px;
  }
  
  .custom_btn::after {
    right: 0px;
    border-left: 1px solid #939393;
    border-right: 1px solid #939393;
  }
  
  .custom_btn:hover {
    color: var(--text-color);
  }
  
  .custom_btn:hover:before,
  .custom_btn:hover:after {
    transform: scale(1);
    opacity: 1;
  }
  
  .slider_img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .arrow_l,
  .arrow_r {
    position: absolute;
    top: 50%;
    z-index: 1;
    cursor: pointer;
    color: #fff;
    filter: drop-shadow(2px 4px 6px black);
  }
  
  .arrow_l {
    left: 15px;
  }
  
  .arrow_r {
    right: 15px;
  }
  
  .item {
    position: relative;
    height: calc(100vh - 95px) !important;
  }
  .item img {
    object-fit: cover;
  }
  
  .content {
      font-family: 'Poppins', sans-serif;
      position: absolute;
      text-align: left;
      top: 30%;
      right: 50%;
      margin-left: 80px;

  }
  

  .content > h2 {
    font-size: 60px;
    color: #000000;
    font-weight: 600;
  }
  
  .content > p {
    color: #3d3d3d;
    font-size: 19px;
  }
  

  
  @media (max-width: 550px) {
    .content h2 {
      font-size: 2rem !important;
     margin-left: 80px;
     margin-top: -100px;
     width: 100%;

    }
    .content p {
      margin-left: 80px;
      width: 80%;
    }
    .content a {
      position: absolute;
      margin-left: 80px;
      
    }
  
  }

  @media (max-width: 921px) {
    .content h2 {
      font-size: 4rem;
     margin-left: 80px;
     margin-top: -100px;
     width: 100%;

    }
    .content p {
      margin-left: 80px;
      width: 80%;
    }
    .content a {
      position: absolute;
      margin-left: 80px;
      
    }

  }
  